.basic-layout {
  .header {
    height: auto;
    padding: 14px 10px;
    background-color: #fff;
    border-bottom: 1px solid #dcdfe6;
    .wrap {
      display: flex;
      align-items: center;
      .actions {
        margin-left: 18px;
      }
    }
  }
  .aside {
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: #fff;
    .widget-list {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: {
        left: 5px;
        top: 12px;
        bottom: 12px;
      };
      .card {
        width: 90px;
        margin-bottom: 10px;
        cursor: pointer;
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }
    .panel-wrap {
      padding: 0 10px;
      height: 100%;
    }
  }
  .main {
    position: relative;
  }
}
