.editor-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  .editor-box {
    width: 414px;
    padding: 12px;
    background-color: #fff;
    border: 1px dashed #dcdfe6;
    border-spacing:10px 50px;
    .canvas {
      position: relative;
      min-height: 736px;
      background-color: inherit;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      .widget {
        position: absolute;
        &.active {
          outline: 1px solid #f60;
        }
        .dot {
          position: absolute;
          border: 1px solid #f60;
          width: 6px;
          height: 6px;
          margin: {
            left: -3px;
            top: -3px;
          };
          z-index: 1;
        }
        .rotate {
          position: absolute;
          left: 50%;
          margin-left: -8px;
          top: -24px;
          font-size: 18px;
          color: #f60;
          z-index: 1;
          cursor: pointer;
        }
      }
      .line {
        display: none;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #59c7f9;
        &.vertical {
          width: 1px;
          height: 100%;
        }
        &.show {
          display: block;
        }
      }
    }
    .drag-height {
      text-align: center;
      padding-top: 12px;
      cursor: s-resize;
    }
  }
}
